$def with(content)

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sendr</title>
    <meta name="description" content="E-Mail Re-invented">
    <meta name="author" content="Mighty Mail">
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script|Pontano+Sans" rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="https://a248.e.akamai.net/assets.github.com/assets/github-e26d537951b309046eb5870a1edf7840c5c8e874.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://a248.e.akamai.net/assets.github.com/assets/github2-8672ae0800703e0f9939a001a34e43c3c87836b5.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    $if content.get("css",''):
        $for src in content.css.split(" "):
          <link type="text/css" rel="stylesheet" media="screen" href="$src" />
    $if content.get("js",''):
        $for src in content.js.split(" "):
            <script type="text/javascript" src="$src"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <h1 class="logo"><a class="nostyle" href="/">Sendr</a></h1>
      <div id="feed">
	<a href="#contacts-feed"><div id="contacts-feed" class="feed-sprite"></div></a>
	<a href="#groups-feed"><div id="groups-feed" class="feed-sprite"></div></a>
	<a href="#notices-feed"><div id="notices-feed" class="feed-sprite"></div></a>
      </div>
      <input id="search" type="text" placeholder="search for messages" />
      <a id="logout" href="/logout">logout</a>
    </header>
    $:content
  </body>
</html>
