$def with()

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sendr</title>
    <meta name="description" content="E-Mail Re-invented">
    <meta name="author" content="Mighty Mail">
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script|Pontano+Sans" rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/index.css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <h1 class="logo">Sendr</h1>
    </header>
    $#<div style="background-color: #444; height: 25px; margin-top: -20px;">
    </div>
    <div class="formarea">
      <h1>Welcome!</h1>
      <form method="POST" action="/login">
	<div>client 
	  <select name="imap">
	    <option value="imap.gmail.com">gmail</option>
	    <option value="imap.mail.yahoo.com">yahoo</option>
	  </select>
	</div>
	<div>email <input type="email" name="email"/></div>
	<div>password <input type="password" name="passwd"/></div>
	<input class="btn roundcorners shadow" type="submit" />
      </form>
    </div>
  </body>
</html>
