$def with (emails=[], resp="", page=0, limit=10)

  $if resp:
    <div class="alert">$resp</div>
    <br/>

  <div class="alert">
    $#alerts
  </div>

  <div class="menu-left">
    <div>
      <div class="container">
	<div class="select-menu account-switcher js-menu-container js-select-menu">
	  <span class="minibutton select-menu-button with-gravatar js-menu-target">
	    <div class="select-menu-button-gravatar js-select-button-gravatar">
	      <img height="20" src="" width="20">
	    </div>
	    <span class="js-select-button">$session['email']</span>
	  </span>
	</div> <!-- /.select-menu-modal -->
      </div> <!-- /.select-menu-modal-holder -->
    </div> <!-- /.select-menu -->    
  </div>
  <div class="clearfixt"></div>

  <form action="/" method="POST">
    <ol class="emails">
      <li>
	$if page:
	  <a href="/emails?page=$(page)&limit=$(limit)">&laquo Previous</a>
	
	<a href="/emails?page=$(page+1)&limit=$(limit)">Next &raquo</a>	  
      </li>
      $for email in emails:
        $if email['email']['Subject']:
          <li><input type="checkbox"/> <a href="/emails/$email['uid']">$email['email']['Subject'][:75]...</a></li>
        $else:
          <li><input type="checkbox"/> <a href="/emails/$email['uid']">(no subject)</a></li>
    </ol>
  </form>
</div>
