$def with (emails=[], resp="", page=0, limit=10)

<div>
  $if resp:
    <div class="alert">$resp</div>
    <br/>
  <div class="alert">
    <div>@michaelkarpeles was mentioned 10 times</div>
    <div>3 birthdays today</div>
    <div>5 appointments on your calendar</div>
    <div>3 critical emails</div>
  </div>
  <form action="/" method="POST">
    <ol class="emails">
      <li>
	$if page:
	  <a href="/emails?page=$(page)&limit=$(limit)">&laquo Previous</a>
	
	<a href="/emails?page=$(page+1)&limit=$(limit)">Next &raquo</a>	  
      </li>
      $for email in emails:
        $if email['email']['Subject']:
          <li><input type="checkbox"/> <a href="/emails/$email['uid']">$email['email']['Subject'][:75]...</a></li>
        $else:
          <li><input type="checkbox"/> <a href="/emails/$email['uid']">(no subject)</a></li>
    </ol>
  </form>
</div>
